.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    align-self: flex-start;
    width: 100%;
}

.search-sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}  

.search-bar-div SearchBar {
    width: 100%;
}

.list-container {
    width: 100%;
}
  